<!DOCTYPE html>
<html>
  <head>
    <title>DemoShortner</title>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "flash_notice", 'data-type' => "#{key}") %>
        <% flash.discard(key)%>
      <% end %>
    <%= yield %>
  </body>
</html>
